
th{
    text-align: center;
}

form{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
form>:only-child{
    margin: 10px;
}
select{
    margin: 0 10px;
    height: 100%;
}

.table{
    border: 1px solid black;
    border-radius: 5px;
}

nav{
    padding:10px
}

h2{
    text-align: center;
}